@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    font-family: 'East Sea Dokdo', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

/* style header & logo*/
#heading {
    font-size: 3em;
    margin-block-end: 0.1e
}

/* Animation on Logo image*/

#logo {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

#logo:hover {
   animation: tilt-shake 0.5s ease-in-out 6 alternate forwards 
}

@keyframes tilt-shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(6px, 6px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-6px, 6px) rotate(-5deg);
    }
}



/* How To Play heading and paragraph style */

#heading2 {
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.1%;
    margin-block-end: 0.2%;
}

#playinfo {
    font-size: 1.5em;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
    margin: auto;
    max-width: 75%;
}

/* style score board area */
.scoreboard-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em
}

.scoreheading {
    font-size: 2em;
    text-decoration-line: underline;
    text-align: center;
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
}

.score {
    font-size: 1.5em;
    text-align: center;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

/* style gameboard area */

.gameboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0, 1em;
    border: none;
    overflow-x: hidden;
}

.gameboardimage .startimage {
    display: block;
    padding: 1em;
    cursor: pointer;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.startimage {
    max-width: 100%;
    padding: 1em;
    align-content: center;
    overflow: hidden;
    object-fit: cover;
    transition: 120ms;
}

.startimage:hover {
    transform: scale(0.9);
}

/* style Game Results Area*/

.winnerarea {
    display: flex
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.1em
}

#result {
    font-size: 2em;
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.01em;
}

.choice {
    font-size: 2em;
    text-align: center;
    margin-block-start: 0.001em;
    margin-block-end: 0%;
}

#compPick {
    font-size: 1em;
    text-align: center;
    margin-block-start: 0.001em;
    margin-block-end: 0.001;
}

